@{
    var timeUtc = DateTime.UtcNow;
    var x = TimeZoneInfo.GetSystemTimeZones();
    TimeZoneInfo easternZone = TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time");
    DateTime easternTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, easternZone);
    TimeZoneInfo pacificZone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
    DateTime pacificTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, pacificZone);
    TimeZoneInfo centralZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    DateTime centralTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, centralZone);
    TimeZoneInfo mountainZone = TimeZoneInfo.FindSystemTimeZoneById("Mountain Standard Time");
    DateTime mountainTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, mountainZone);
    TimeZoneInfo indianZone = TimeZoneInfo.FindSystemTimeZoneById("India Standard Time");
    DateTime indianTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, indianZone);
}

<!DOCTYPE html>
<html style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css?v=1.0" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/9lf5s97lyt3usa3yle4wzuvpurymgj5zhhfd9n2722rtngh6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>

        tinymce.init({
            selector: '#mytextarea',
            height: 800,
            menubar: false,
            plugins: [
                'advlist autolink lists link charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table directionality',
                'emoticons template textpattern codesample help'
            ],
            contextmenu: 'link image imagetools table spellchecker lists',
            toolbar1: 'undo redo | formatselect | ' +
                'bold italic underline| alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat',
            toolbar2: 'print preview media link| fontsizeselect forecolor backcolor emoticons | codesample',
            content_style: 'body { font-family:Segoe UI,Arial,sans-serif; font-size:14px }',
            paste_data_images: true,
            branding: false
        });
    </script>

    <link rel="icon" href="~/Picture1.ico" type="image/x-icon" />

    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Segoe UI", sans-serif
        }
    </style>
    <title>
        @ViewBag.Title - 1Destiny
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="w3-light-grey" onresize="resizeScreen()">
    <div class="navbar navbar-inverse" style="background-color: black; border-color: lightgray; z-index: 1030; width: 100%; max-height: 340px; position: fixed; top: 0; padding-left: 0; padding-right: 0; ">
        <div class="container" style="width:100%">
            <div class="navbar-header" style="width: 10%;">
                <a class="navbar-brand" href="/" style="color: lightgray; font-weight: 500; white-space: nowrap; position: fixed;">OneDestiny</a>
            </div>

            <table class="topMenu" style="float: left; margin-left: 20.5%;">
                <tr>
                    <td>
                        <ul class="nav navbar-nav">
                            <li>
                                <input type="number" id="caseno" style="max-height:inherit; width: 223px; height: 38px;" placeholder="Enter case number to update title" min="0" max="9999999999999999" />
                            </li>
                        </ul>

                    </td>
                </tr>
            </table>

        </div>
    </div>

    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index: 3; width: 21%; overflow-y: hidden; min-width: fit-content;" id="mySidebar">
        <br>
        <div class="w3-bar-block">
            <a href="/" class="w3-bar-item w3-button w3-padding w3-blue1"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</a>
            <a href="https://aka.ms/qawebhelper" target="_blank" style=" white-space: nowrap;" class="w3-bar-item w3-button w3-padding tooltip1"><span class="glyphicon glyphicon-eye-open"></span>&nbsp; Quick Assist Web</a> <span class="tooltiptext">Share this link with customer. https://aka.ms/qawebsharer </span>
            <a id="tools" href="/Home/Resources" class="w3-bar-item w3-button w3-padding" style=" white-space: nowrap;"><i class="fa fa-wrench"></i>&nbsp; Tools and Resources</a>
            <a href="https://forms.microsoft.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR8eeHjSeM2dHnaQimfx6UWlUN0ZUNlI4MEdEM0wzNkZMNlZUMFk0SFpZRi4u" target="_blank" class="w3-bar-item w3-button w3-padding"><span class="glyphicon glyphicon-comment"></span> Feedback</a>
            <a class="w3-bar-item w3-button w3-padding clock" href="~/TimeZoneCalc - NA.xlsx" style="color: black; text-decoration: none;"><span class="glyphicon glyphicon-search"></span> Area code finder</a>
            
            <a class="w3-bar-item w3-button w3-padding clock" id="clock"><i class="fa fa-globe"></i>&nbsp; World clock<i class="fa fa-chevron-right" aria-hidden="true" style="float:right"></i></a>



            @*<a href="https://www.hydra365.net/Nemo/QnASearch" target="_blank" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>&nbsp; CSS Cybot</a>*@
            <div class="dropdown-content-clock" style="display:none;">
                <div style="margin-left: 2%; overflow-y: scroll; height: 455px; ">
                    <table>
                        <tr><td>&nbsp; <b>EST</b></td><td> : </td> <td>@easternTime.ToString("dd-MMM hh:mm tt")</td></tr>
                        <tr><td>&nbsp; <b>PST</b></td><td> : </td> <td>@pacificTime.ToString("dd-MMM hh:mm tt")</td></tr>
                        <tr><td>&nbsp; <b>CST</b></td><td> : </td> <td>@centralTime.ToString("dd-MMM hh:mm tt")</td></tr>
                        <tr><td>&nbsp; <b>MST</b></td><td> : </td> <td>@mountainTime.ToString("dd-MMM hh:mm tt")</td></tr>
                        <tr><td>&nbsp; <b>IST</b></td><td> : </td> <td>@indianTime.ToString("dd-MMM hh:mm tt")</td></tr>
                    </table>
                    <hr />
                    <table>
                        @foreach (var item in TimeZoneInfo.GetSystemTimeZones())
                        {
                            <tr>
                                <td><b>@item.StandardName </b></td>
                                <td>:</td>
                                <td style="width: 37%">@TimeZoneInfo.ConvertTimeFromUtc(timeUtc, TimeZoneInfo.FindSystemTimeZoneById(item.Id)).ToString("dd-MMM hh:mm tt")</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
                

            @*<a href="/Home/SDK" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>&nbsp; Teams SDK</a>*@
            @*<br><br>*@
        </div>
    </nav>
    @*<div class="closeNavBar" onclick="w3_open()"><i class="fa fa-bars" aria-hidden="true" style="vertical-align: middle;"></i></div>*@
    <input type="hidden" id="teamID" />
    <div class="container body-content">
        @*<div class="closeNavBar"><i class="fa fa-bars" aria-hidden="true" style="vertical-align: middle;"></i></div>*@
        @RenderBody()
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.w3-sidebar').css("display", "block");

        });

        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        $("#clock").click(function () {
            if ($(".dropdown-content-clock").css("display") === 'block') {
                $(".dropdown-content-clock").css("display", "none");
                $(".fa-chevron-right").css("transform", "rotateZ(0deg)");
            } else {
                $(".dropdown-content-clock").css("display", "block");
                $(".fa-chevron-right").css("transform", "rotateZ(90deg)");
            }
        });

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            alert();
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        $('#navbar').click(function () {
            $('.navbar').css("height", "32%");

        });

        $("#caseno").keyup(function () {
            document.title = $("#caseno").val() + " - 1Destiny";
        });

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
        $("#quickAssist").click(function () {
            $.ajax({
                url: "/Home/QuickAssist",
                success: function (result) {
                },
                failure: function () {
                    console.log("not open");
                }
            });
        });
        $('#allTemplates').click(function () {
            tinymce.init({
                selector: '#mytextarea',
                setup: function (editor) {
                    editor.on('init', function (e) {
                        editor.setContent('<p>Hello world!</p>');
                    });
                }
            });
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
